hcloud_token = "<API_TOKEN>"
location_list = ["fsn1", "nbg1", "hel1"]
location = "fsn1"
instances_lb = "1"
instances_coolify_master = "1"
instances_coolify_node = "2"
instances_db = "1"
instances_utils = "2"
instances_backup = "1"
server_type_coolify_node = "cx21"
server_type_coolify_master = "cx11"
server_type_db = "cx41"
server_type_utils = "cx21"
server_type_backup = "cx31"
os_type = "ubuntu-22.04"
disk_size = "100"
http_protocol = "http"
http_port = "80"
public_net = true