hcloud_token = "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"

location_list              = ["fsn1", "nbg1", "hel1"]
location                   = "fsn1"
instances_lb               = "0"
instances_minio_lb         = "0"
instances_coolify_master   = "1"
instances_coolify_node     = "0"
instances_db               = "0"
instances_utils            = "0"
instances_backup           = "6"
server_type_coolify_node   = "cx21"
server_type_coolify_master = "cx11"
server_type_db             = "cx41"
server_type_utils          = "cx21"
server_type_backup         = "cx31"
os_type                    = "ubuntu-20.04"
volumes_per_node           = "3"
disk_size                  = "10"
http_protocol              = "http"
http_port                  = "20"
public_net                 = true